.order-status-body {
    position: relative;
    background-image: url(/images/tdu-cargo.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.order-status-title {
    text-align: center;
    font-size: 60px;
    ;
    font-family: Roboto, 'Times New Roman', Times, serif;
    z-index: 7;
}