.returns-img {
    background-image: url(/images/denim-banner.png);
    height: 260px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.returns-container {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
}

.returns-title {
    display: flex;
    border: 2px solid red;;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    justify-content: center;
}

.returns-instructions{
    border: 2px solid white;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}
