.shop-body {
    background-color: white;
}

.denim-banner-img {
    background-image: url(/images/denim-banner.png);
    height: 160px;
    width: 100%;
}

.shop-items {
    /* border: solid 1px black;  */
    display: flex;
}

.dropdown {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 40px;
    min-width: 100px;
    /* border: 1px solid black; */
    /*keep for now, remove later*/
    font-family: "Roboto", sans-serif;
}

.dropdown-menu {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

.dropdown-arrow-aligned {
    display: flex;
    justify-content: space-between;
}

.dropdown-arrow {
    height: 20px;
    width: 20px;
}

.line {
    width: 150px;
    min-width: 50px;
}

.dropdown-filter {
    /* border: 1px solid black; keep for now, will remove later */
}

.shop-item-row1 {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.shop-item-row2 {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: auto;
}

.shop-item {
    margin-right: 30px;
}

.shop-item p {
    font-family: "Roboto", sans-serif;
    color: black;
}

.shop-image {
    height: 225px;
    width: 175px;
    justify-content: center;
}

.shop-item-title {
    font-size: 13px;
    font-weight: bold;
}

.shop-item-size {
    font-size: 10px;
}

.shop-item-price {
    font-size: 12px;
    font-weight: bold;
}