.shop-body{
    background-color: white;
}

.denim-banner-img{
    background-image: url(/images/denim-banner.png);
    height: 160px;
    width: 100%;
}
.shop-items {
    border: solid 1px black;
    display: flex;
    justify-content: center;
}

.shop-item {
    margin-right: 30px;
}

.shop-item p{
    font-family: "Roboto", sans-serif;
    color: black;
}

.shop-image {
    height: 200px;
    width: 150px;
}

.shop-item-title {
    font-size: 13px;
    font-weight: bold;
}

.shop-item-size {
    font-size: 10px;
}

.shop-item-price {
    font-size: 12px;
    font-weight: bold;
}

label{
    color: black;
    font-weight: bold;
}