* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    margin: 0;
    padding: 0;
}
.container {
    margin: auto;
    padding-bottom: auto;
    position: relative;
    background-color: black;
}
.main-title {
    color: rgb(255, 247, 204);
    font-size: 95px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 2%;
    transform: translate(-50%, 0%); /* Centering the element */
    text-transform: uppercase;
    padding-top: 40px;
}
.description{
    color: rgb(255, 247, 204);
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    z-index: 10;
    left: 50%;
    top: 2%;
    transform: translate(-50%, 900%);
}
.first-image {
    width: 600px;
    height: 100vh;
    display: flex;
    position: relative;
    object-fit: cover;
    opacity: 60%;
}
.navbar {
    background-color: #F9EEDB;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
}

.navbar-option {
    color: black;
    font-size: large;
    text-decoration: none;
    padding-left: 15px;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar-option span{
    font-family:Arial, Helvetica, sans-serif;
}
.footer {
    background-color: rgb(10, 10, 96);
    justify-content: center;
    display: flexbox;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
}
.footer-option {
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: flex;
    margin-right: 15px;
    flex-direction: row;
}
.navbar-right {
    display: flex; /* Keeps the layout */
    gap: 1rem; /* Adds spacing between items */
    padding-right: 40px;
}
.navbar-right span {
    font-size: 20px; /* Initial font size */
    transition: font-size 0.4s ease-in-out, padding 0.3s ease-in-out;
}
.navbar-right span:hover {
    font-size: 25px; /* Slightly increase the font size */
    transform: scale(1.1); /* Enhances the effect smoothly */
    text-decoration: underline;
}
.footer-top-row {
    display: flex;
    justify-content: center;
}
.footer-option-bottom {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.footer-bottom-row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.second-image {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}
.logo{
    width: 45px;
    height: 45px;
}
