.container{
    margin: auto;
    display: grid;
}

.main-title{
    color: blue;
    font-size: 90px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.first-image{
    width: 600px;
    height:400px;
    margin: auto;
}

.navbar{
    background-color: rgb(10, 10, 96);
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 10%;
}

.navbar-option{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: large;
    text-decoration: none;
    padding: 390px;
    padding-left: 15px;
}

.footer{
    background-color: rgb(10, 10, 96);
}

.footer-option{
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}