.container{
    margin: auto;
    display: grid;
}

.main-title{
    color: blue;
    font-size: 90px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.first-image{
    width: 600px;
    height:400px;
    margin: auto;
}

.navbar{
    background-color: rgb(10, 10, 96);
}

.navbar-option{
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}